services:
#  frontend:
#    build:
#      context: ..
#      dockerfile: deploy/Dockerfile.frontend
#    container_name: joycoin-frontend
#    ports:
#      - "3000:3000"
#    env_file:
#      - ./env/.env
#    environment:
#      - NEXT_PUBLIC_API_BASE=http://localhost:8000
#      - NODE_ENV=development
#    volumes:
#      - ../frontend:/app
#      - /app/node_modules
#      - /app/.next
#    depends_on:
#      - web
#    restart: unless-stopped

  web:
    build:
      context: ..
      dockerfile: deploy/Dockerfile.backend
    container_name: joycoin-web
    ports:
      - "8000:8000"
    env_file:
      - ./env/.env
    environment:
      - CORS_ORIGINS=http://localhost:3000
    volumes:
      - ../backend:/app
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started

  redis:
    image: redis:7-alpine
    container_name: joycoin-redis
    ports:
      - "6379:6379"

  db:
    image: postgres:15-alpine
    container_name: joycoin-db
    environment:
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app
      POSTGRES_DB: app
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U app -d app"]
      interval: 10s
      timeout: 10s
      retries: 10
      start_period: 60s

volumes:
  postgres_data:
